<div class="login_box">
    <div style="text-align: center;">
        <h1>ANJALI BV</h1>
        </div>
        <div style="text-align: center;padding-top: 0%;">
            <p>S.R.Road Gandhi Nagar 3rd Cross<br>
            Near to Amma medicals Challakere - 577522,<br>
            Karnataka,India <br>
           9741564044<br>anjalianjubv07@gmail.com</p>
        </div>
        <h2 style="text-align: left;margin-left: 20px;"><i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;&nbsp;<b>About Me</b></h2>
        <hr>
        <h2 style="text-align: left;margin-left: 20px;"><b>Associate Software Engineer</b></h2>
        <p style="margin-left: 40px;font-size: 20px;">Results-oriented software engineering professional with expertise in building secure applications. 
            Excellent team player with positive attitude. Solid background building Web applications.
           Open and clear communicator with good multitasking skills, organized nature and strong attention to detail.</p> 
           <hr>
           <h2 style="text-align: left;margin-left: 20px;"><i class="fa fa-graduation-cap" aria-hidden="true"></i>&nbsp;&nbsp;
            <b>Education</b></h2>
           <hr>
           <h2 style="text-align: left;margin-left: 10px;"><b>Bachelor of Engineering,(Electronic and Communication)</b></h2>
           <p style="margin-left: 10px;font-size: 20px;">Vivekananda Institute of Technology, Bangalore<br>
            Vishverwarya Technological University, Belagum<br>Karnataka</p>
            <h2 style="text-align: left;margin-left: 10px;"><b>12th, PCMB</b></h2>
           <p style="margin-left: 10px;font-size: 20px;"> Sri Bhuvanendra PU College,Karkala<br>
            Karnataka Educational Authority,Bangalore<br>Karnataka</p>
            <h2 style="text-align: left;margin-left: 10px;"><b>10th, SSLC</b></h2>
            <p style="margin-left: 10px;font-size: 20px;"> Sri Basaveshwara English Medium High School,Challakere<br>
                Karnataka Secondary Educational Examination Board,Bangalore<br>Karnataka</p>
                <hr>
                <h2 style="text-align: left;margin-left: 20px;"><i class="fa fa-tasks" aria-hidden="true"></i>&nbsp;&nbsp;<b>Work Experirence</b></h2>
                <hr>
               <p style="margin-left: 10px;font-size: 20px;">
                December 2020 - Current<br>
                Associate Software Engineer <br>
                Simpfo Technology ,Bangalore Karnataka</p>
                <ul>
                    <li style="margin-left: 10px;font-size: 20px;">Assist with the development of training materials, and manage training sessions </li>
                    <li style="margin-left: 10px;font-size: 20px;"> Develop, maintain, and execute comprehensive e commerce platform regression testing scripts</li>
                    <li style="margin-left: 10px;font-size: 20px;">Plan and estimate work stream related activities accurately with senior application developer </li>
                    <li style="margin-left: 10px;font-size: 20px;">Develop test scripts and execute functional tests across a variety of environments</li>
                    <li style="margin-left: 10px;font-size: 20px;">Actively apply feedback received, and strive to continually improve performance,Provide training and assist key users with user acceptance testing </li>
                  <li style="margin-left: 10px;font-size: 20px;">Implement dynamic, data driven e commerce functionality using the Demand-ware developer platform and associated Third Party developer tool kits.</li>
            </ul>  
            <p style="margin-left: 10px;font-size: 20px;">
                May 2018 - August 2020<br>
                Process Executive (Non-Voice Process) <br>
                Grassroots BPO Bangalore, Karnataka.</p>
                <ul>
                    <li style="margin-left: 10px;font-size: 20px;">Grassroots BPO Private Limited is a Non-govt company, incorporated on 14 Feb, 2011.<br>
                         It's a private unlisted company and is classified as a company limited by shares. <br>
                         Grass Roots Meetings & Events was a specialist in strategic meetings management and delegate management. </li>
                    <li style="margin-left: 10px;font-size: 20px;"> Investigated basic issues and escalated more complicated concerns.</li>
                    <li style="margin-left: 10px;font-size: 20px;">Improved customer satisfaction scores through application of superior conflict resolution and problem-solving skills. </li>
            </ul> 
            <hr>
            <h2 style="text-align: left;margin-left: 20px;"><i class="fa fa-certificate" aria-hidden="true"></i>&nbsp;&nbsp;
                <b>Training and Certification</b></h2>
            <hr>
            <ul>
                <li style="margin-left: 10px;font-size: 20px;">Employee Award, From Sept 2019 -Feb 2021 (around 6 Certificate) got. </li>
                <li style="margin-left: 10px;font-size: 20px;">Learning Never ends, so Learning the new thing through online app like Solo Learn,W3 School there also I got Certificates.</li>
        </ul> 
        <hr>
        <h2 style="text-align: left;margin-left: 20px;"><i class="fa fa-cogs" aria-hidden="true"></i>&nbsp;&nbsp;
            <b>Skills</b></h2>
        <hr>
        <ul>
        <li style="margin-left: 10px;font-size: 20px;">Knowledge on C/C++, C# language</li>
        <li style="margin-left: 10px;font-size: 20px;">Knowledge on HTML, CSS web technologies</li>
        <li style="margin-left: 10px;font-size: 20px;">Knowledge on Frontend Frameworks like Angular 6, Bootstrap, Node.Js, Python</li>
        <li style="margin-left: 10px;font-size: 20px;">Knowledge on Database SQL technologies, Django </li>
        <li style="margin-left: 10px;font-size: 20px;">Operating system like window7, window 8, window 10, Linux  Knowledge on Embedded system</li>
        <li style="margin-left: 10px;font-size: 20px;">Knowledge on design a circuits and networking, singles and system.</li>
    </ul>
    <hr>
    <h2 style="text-align: left;margin-left: 20px;"><i class="fa fa-desktop" aria-hidden="true"></i>&nbsp;&nbsp;<b>Computer Proficiency</b></h2>
    <hr>
    <ul>
        <li>C &nbsp;<span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span></li>
            <li>C++ &nbsp;<span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span></li>
                <li>HTML &nbsp;<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span></li>
                    <li>CSS &nbsp;<span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span></li>
                        <li>Angular 6 &nbsp;<span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star "></span></li>
                            <li>Node.js &nbsp;<span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star "></span></li>
                                <li>Python &nbsp;<span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star "></span></li>
    </ul>
    <hr>
    <h2 style="text-align: left;margin-left: 20px;"><i class="fa fa-language" aria-hidden="true"></i>&nbsp;&nbsp;<b>Languages</b></h2>
    <hr>
    <ul>
        <li style="margin-left: 10px;font-size: 20px;">Kannada &nbsp;<span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span></li>
            <li style="margin-left: 10px;font-size: 20px;">English &nbsp;<span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span></li>
                <li style="margin-left: 10px;font-size: 20px;">Hindi &nbsp;<span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span></li>
    </ul>
    <hr>
        <h2 style="text-align: left;margin-left: 20px;"><i class="fa fa-thumbs-up" aria-hidden="true"></i>
            &nbsp;&nbsp;<b>Personal Interests</b></h2>
        <hr>
        <ul>
        <li style="margin-left: 10px;font-size: 20px;">Drawing, Painting, Playing games</li>
        <li style="margin-left: 10px;font-size: 20px;">Watching Cricket and Playing.</li>
        <li style="margin-left: 10px;font-size: 20px;">Self learning the new thing by watching the videos and reading the books</li>
    </ul>
    <hr>
    <h2 style="text-align: left;margin-left: 20px;"><i class="fa fa-television" aria-hidden="true"></i>&nbsp;&nbsp;<b>Social Media</b></h2>
    <hr>
    <i class="fa fa-linkedin-square" style="font-size:40px;color:blue;margin-left: 80px;"></i>&nbsp;<a class="sign_up" style="font-size: x-large;" href="https://www.linkedin.com/in/anjali-b-v-5a7a7116a/">Linkedin</a>
    <i class="fa fa-github" style="font-size:40px;margin-left: 60px;"></i>&nbsp;&nbsp;&nbsp;ANJALI07-BV
<hr>
    <h2 style="text-align: left;margin-left: 20px;"><i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;&nbsp;<b>Personal Details</b></h2>
   <hr>
   <div class="grid-container">
    <div class="item3">Birthday : September 07, 1995 </div>  
    <div class="item4">Marital Status: Single</div>
    <div style="margin-right: 110px;" class="item5">Gender: Female</div>
    <div class="item6">Nationality: Indian</div>
  </div>
  <hr>
    <h2 style="text-align: left;margin-left: 20px;"><i class="fa fa-bullhorn" aria-hidden="true"></i>&nbsp;&nbsp;<b>Declaration Statement</b></h2>
   <hr>
   <p style="margin-left: 40px;font-size: 20px;">I, Anjali BV, hereby declare that the information contained herein is true and correct to the best of my knowledge and belief.</p> 
   <br>
   <div style="text-align: right;">
    Anjali BV<br>
    Challakere
   </div>
   </div>